<div class="container">
    <div class="container__container">
        <!-- VIDEO -->
        <div class="container__video">
            <video id="my-video" class="video-js" controls preload="auto" poster="assets/video/blank space.webp"
                data-setup="{}" playsinline>
                <source src="assets/video/Blank Space.mp4" type='video/mp4'>
                <source src="assets/video/Blank Space.mp4" type='video/webm'>
                <p class="vjs-no-js">
                    Para ver este video por favor habilita JavaScript, y considera la posibilidad de actualizar a un
                    navegador web que <a href="https://videojs.com/html5-video-support/" target="_blank">soporta video
                        HTML5</a>
                </p>
            </video>
        </div>

        <div class="container__info">
            <h1 class="info__title">Titulo del Video</h1>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>

            <h2>Subtitulo del Video</h2>
            <p>Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video
                Bienvenida al video Bienvenida al video Bienvenida al video Bienvenida al video</p>
        </div>
    </div>

    <div class="container__side">
        <div class="side__title">
            <h3 class="title__others">Todos los Videos</h3>
        </div>

        

    </div>


</div>