<div class="container">
    <div class="container__container">
        <!-- VIDEO -->
        <div class="container__video">
            <!-- <video id="my-video" class="video-js" controls preload="auto" poster="{{video.imgUrl}}" data-setup="{}"
                playsinline>
                <source #videoSource type='video/mp4'>
                <p class="vjs-no-js">
                    Para ver este video por favor habilita JavaScript, y considera la posibilidad de actualizar a un
                    navegador web que <a href="https://videojs.com/html5-video-support/" target="_blank">soporta video
                        HTML5</a>
                </p>
            </video> -->

            <video src="{{video.videoUrl}}" controls poster="{{video.imgUrl}}" class="video__video"></video>
        </div>
        

        <!-- Texto Informativo -->
        <div class="container__info">
            <div class="info__info" (click)="changeLeyendo()">
                <h1 class="info__title">{{ video.title }}</h1>
                <div class="info__arrow" [ngClass]="{'-leyen2' : leyendo}"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAJ1JREFUSEvtk9EJgDAMRK+b6CY6ipPoJrqJqziKHLQQStOkH4If8UeL53v1ogkfH+ljPkJgNhwV/b+iA8AF4FG2OgFYcqYZ6Q2Z8D3D14aE8DMLNk3SExBwA+CZbyAlEs57szYM6zNtScgqO+/CGbQEzNQSQtm7CfcKagnXLviIQEp4rXZez8JTkXymDNz8wUpgVOAGh8BdVczArOoFuOQZGXBiW4AAAAAASUVORK5CYII=" />
                </div>
            </div>

            <!-- Resto de información -->
            <div class="info__resto" [ngClass]="{'-leyendo' : leyendo}" *ngFor="let descript of descriptions">
                <p class="resto__p">
                    {{ descript }}
                </p>
            </div>

            <!-- Test -->
            <div class="info__test">
                <button class="test__btn" (click)="realizarPrueba()">Realizar Prueba</button>
              </div>              
        </div>
    </div>


    <!-- Otros Videos -->
    <div class="container__side">
        <div class="side__title">
            <h3 class="title__others">Todos los Videos</h3>
        </div>
    </div>


</div>