<div class="container">
    <div class="container__title">
        <h1 class="title__text">Capacitaciones Pendientes</h1>
    </div>

    <!-- CURSOS -->
    <div class="container__cursos">
        <!-- CARD -->
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>
        <div class="cursos__card">
            <img src="../../../assets/cursos/seguridad.jpg" alt="" class="card__image">
            <div class="card__title">
                <h4 class="title__nombre-curso">Seguridad en la Vía</h4>
            </div>
        </div>

    </div>

</div>