<nav class="sidebar" [ngClass]="{'close': !toggleB, 'dark': darkMode}">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="assets/CT_LOGOS-22.png" alt="logo">
            </span>
            <div class="text logo-text">
                <span class="name">Coorditanques</span>
                <span class="profession">Repositorio de Videos</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle' (click)="toggle('toggle')"></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <!-- <li class="search-box" (click)="toggle('search')">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Buscar...">
            </li> -->
            <ul class="menu-links">
                <li class="nav-link">
                    <a>
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a>
                        <i class='bx bxs-folder-open icon'></i>
                        <span class="text nav-text">Pendientes</span>
                    </a>
                </li>
                <li class="nav-link" routerLink="home">
                    <a>
                        <i class='bx bxs-videos icon'></i>
                        <span class="text nav-text">Todos los videos</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a>
                        <i class='bx bx-git-pull-request icon'></i>
                        <span class="text nav-text">Exámenes</span>
                    </a>
                </li>
                <li class="nav-link" routerLink="video">
                    <a>
                        <i class='bx bx-bookmark icon' ></i>
                        <span class="text nav-text">Guardados</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a>
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Resultados</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a>
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">{{tema }}</span>
                <div class="toggle-switch" (click)="toggleMode()">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>
</nav>
